* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

h1 {
	font-size: 300px;
	text-align: center;
	color: fuchsia;
}

body {
  background: black;
}

button {
  position: relative;
  background: none;
  padding: 1rem 2rem;
  margin: 1rem 0;
  display: block;
}

button.disabled {
	color: darken(lime,20)
}

button:focus {
  outline: none;
}

div.cooldown {
  position: absolute;
  background: #164316;
  top:0;
  left:0;
  width:0%;
  height: 100%;
  opacity: .5;
}

div.butts {
	margin-right: 5rem;
}

div.butts, div.stat-readout {
	display: inline-block;
	vertical-align: top;
}

div.stat-readout, button {
  border: 1px solid lime;
  color: lime;
  font-weight: 100;
}

div.stat-readout {
	padding: 1rem;
	font-size: medium;	
}